
.navbar h2 a {
    font-size: 30px;
}

.header-cuizine-row {
    height: 400px;
}

.header-cuizine-row img {
    width: 80px;
}

.mapouter {
    width: 100%;
    height: auto;
}

.contact {
    padding-left: 100px;
}

.address {
    padding-left: 125px;
}

.rue, .ville {
    padding-left: 175px;
}
