
/* add colour and use gradient to fade in or out */
.background-cuizine {
    background-color: #000000;
    background: linear-gradient(0deg, rgb(33 37 41 / 80%), rgb(33 37 41 / 80%)), url(../img/header.jpg); 
    background-position: center;
}

.navbar h2 a {
    font-size: 30px;
}

.header-cuizine-row {
    height: 400px;
}

.header-cuizine-row img {
    width: 80px;
}

.mainArticle {
    font-family: Oswald ;
}

.mainArticle img {
    width:100%;
    height:auto;
}

aside button {
    width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
}

footer a {
    color: #fff;
}

.footermarginPadding {
    padding-left: 0px;
    margin-left: 0px;
}

/*
img {
    width: 100%;
    height: auto;
    align-items: center;
}

h1, .lemagcuisine {
    font-family: Courgette;
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-family: 'Oswald';
    font-size: 20px;
}

.footerAlign, .catagory, .newsLetter, .archives  {
    text-align: left;
} */

